<div>
    <h3>ONE WORK</h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                ADDRESS
            </th>
            <th scope="col">
                PHONE
            </th>
        </thead>
        <tbody>
            <tr>
                <td scope="col">
                        {{work.id}}
                </td>
                <td scope="col">
                    {{work.address}}
                </td>
                <td scope="col">
                    {{work.phone}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
