<div>
    <h3>PERSON</h3>
    <table class="table table-striped">
        <thead >
            <th scope="col">
                ID
            </th>
            <th scope="col">
                NAME
            </th>
        </thead>
        <tbody>
            <tr>
                <td scope="col">
                        {{person.id}}
                </td>
                <td scope="col">
                    {{person.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
